<h1><%= @team.name %></h1>
<%= link_to edit_team_path(@team) do %>
  <span class="glyphicon glyphicon-edit"> </span> Edit
<% end %> &nbsp;
<%= link_to @team, method: "Delete", confirm: "Are you sure you want to delete this team?" do %>
  <span class="glyphicon glyphicon-trash"> </span> Delete
<% end %>


<p>This team fields players in <strong><%= @team.distinct_positions %></strong> positions.</p>

<table class="table table-striped">
  <caption class="text-left"><h2>Roster</h2></caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th></th>
  </thead>
  <tbody>
  <% @team.players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.position %></td>
      <td><%= link_to edit_team_player_path(player.team, player) do %>
            <span class="glyphicon glyphicon-edit"> </span> Edit
          <% end %> &nbsp;
          <%= link_to player, method: :delete, confirm: "Are you sure?" do %>
            <span class="glyphicon glyphicon-trash"> </span> Delete
          <% end %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to new_team_player_path(@team) do %>
  <span class="glyphicon glyphicon-plus"> </span> Add a player
<% end %>
